* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

#h1 {
    color: #09203f;
    margin-bottom: 20px;
}

.date,
#box-clima {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 435px;
}

#fecha,
#dia,
#temperatura,
#humedad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECE9E6;
    width: 180px;
    height: 100px;
    border-radius: 15px;
    margin: 10px auto;
    color: #09203f;
    font-size: 1.5rem;
    box-shadow: 0 0 5px #000;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECE9E6;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    margin: 10px auto;
}

.horas,
.minutos {
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    margin: 5px;
    border-radius: 10px;
    color: #09203f;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px black;
}

.segundos {
    width: 100px;
    height: 100px;
    background-color: #236ccc;
    margin: 5px;
    border-radius: 10px;
    color: #e2e2e2;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px black;
}

span {
    font-size: 2rem;
    color: #09203f;
}

@media screen and (min-width: 320px) and (max-width: 425px) {

    .date,
    #box-clima {
        width: 320px;
    }

    #fecha,
    #dia,
    #temperatura,
    #humedad {
        width: 130px;
        height: 80px;
        font-size: 1rem;
    }

    #container {
        width: 300px;
        height: 180px;
    }

    .horas,
    .minutos,
    .segundos {
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }

   
}